[Unit]
Description=Load pidvbip tvheadend at boot 
After=getty.target

[Service]
Type=simple
ExecStartPre=ir-keytable -w /home/pi/pidvbip/remotes/mce_rc6_dre
ExecStart=sh -c "cd /home/pi/pidvbip/ && ./pidvbip -h 'server ip' -U 'user' -P 'password' -i 'initial channel' "

[Install]
WantedBy=multi-user.target
